
.css-18ni7ap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: rgb(255, 255, 255);
    outline: none;
    z-index: 999990;
    display: block;
    background: antiquewhite;
}


.css-zt5igj {
    position: relative;
    left: calc(-3rem
rem
);
    width: calc(100% + 2.5rem + 0.5rem);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: visible;
    background: yellowgreen;
}